@import '~styles/theme.scss';
@import '~styles/mixins.scss';

$heading-margin: calc($space-xl + $space-md);

.postContainer {
  display: flex;
  flex-direction: column;
  gap: $space-md;
  margin-top: $heading-margin;
  .contentSection {
    display: flex;
    flex-direction: column;
    gap: $space-md;
  }
  .leftSection {
    display: none;
  }
}

@include media-query($min-width: $breakpoint-lg) {
  $width: calc(0.35 * $breakpoint-lg);
  $spacing: calc($width + $space-lg);

  .postContainer {
    flex-direction: row;
    gap: $space-lg;
    width: 100%;
    .leftSection {
      width: $width;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
    }
    .contentSection {
      width: calc(100% - $spacing);
      margin-left: $spacing;
    }
  }
}
