@import '~styles/theme.scss';

.body {
  background: $background-light;
  color: $text-color-dark;
  margin: $space-md;
}

html[data-theme='dark'] {
  .body {
    background: $background-dark;
    color: $text-color-light;
  }
}
