@import '~styles/theme.scss';
@import '~styles/mixins.scss';

.header {
  display: flex;
  align-items: center;
  gap: $space-sm;
  padding: $space-md;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  transition: all 0.3s ease;
  .blogLogoContainer {
    a {
      display: flex;
      align-items: center;
      gap: $space-sm;
      .siteLogo {
        width: 2.5rem;
        height: 2.5rem;
      }

      .heading {
        font-weight: $font-weight-bold;
        font-size: 1.3rem;
        flex: 1;
        text-align: center;
        letter-spacing: 0.02em;
      }
    }
  }

  .placeholder {
  }
}

.header.scrolled {
  background: $primary-color-dark;
  border-bottom-left-radius: $border-radius-12;
  border-bottom-right-radius: $border-radius-12;
  box-shadow: $box-shadow-medium;
}

html[data-theme='dark'] {
}

// Desktop styles
@include media-query($min-width: $breakpoint-lg) {
  .header {
    max-width: $breakpoint-lg;
    margin: 0 auto;
    margin-bottom: $space-lg;
  }
  html[data-theme='dark'] {
  }
}
