@import '~styles/theme.scss';
@import '~styles/mixins.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $space-sm;
  padding: $space-md;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  transition: all 0.3s ease;
  .blogLogoContainer {
    display: flex;
    gap: $space-sm;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      gap: $space-sm;
      text-decoration: none;
      color: $primary-color-dark;
      .siteLogo {
        width: 2.5rem;
        height: 2.5rem;
      }
      .heading {
        font-weight: $font-weight-bold;
        font-size: 1.3rem;
        flex: 1;
        text-align: center;
      }
    }
    .divider {
      height: $space-lg;
      margin: $space-sm 0;
      border-left: 2px solid $text-color-dark;
    }
    .placeholder {
      color: $text-color-dark;
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
      text-decoration: underline;
    }
  }
  .themeToggleBtn {
    all: unset;
    $icon-size: calc($space-md + $space-sm);
    .themeIcon {
      width: $icon-size;
      height: $icon-size;
      color: $primary-color-dark;
    }
  }
}

.header.scrolled {
  background: $primary-color-dark;
  border-bottom-left-radius: $border-radius-12;
  border-bottom-right-radius: $border-radius-12;
  box-shadow: $box-shadow-medium;
  .blogLogoContainer {
    a {
      color: $text-color-light;
      .siteLogo {
        filter: brightness(0) invert(1);
      }
      .heading {
        color: $text-color-light;
      }
    }
    .divider {
      border-left: 2px solid $text-color-light;
    }
    .placeholder {
      color: $text-color-light;
    }
  }
  .themeToggleBtn {
    .themeIcon {
      filter: brightness(0) invert(1);
    }
  }
}

html[data-theme='dark'] {
  .header {
    .blogLogoContainer {
      .divider {
        border-left: 2px solid $text-color-light;
      }
      .placeholder {
        color: $text-color-light;
      }
    }
  }
}

@include media-query($min-width: $breakpoint-md, $max-width: $breakpoint-lg) {
  .header {
    padding: $space-md $space-xl;
  }
}

@include media-query($min-width: $breakpoint-lg) {
  .header {
    max-width: $breakpoint-lg;
    margin: 0 auto;
    margin-bottom: $space-lg;
  }
}
