@import '~styles/theme.scss';
@import '~styles/mixins.scss';

.postContainer {
  display: flex;
  flex-direction: column;
  gap: $space-md;
  .contentSection {
    display: flex;
    flex-direction: column;
    gap: $space-md;
  }
}

@include media-query($min-width: $breakpoint-lg) {
  .postContainer {
    flex-direction: row;
    max-width: $breakpoint-lg;
    margin: 0 auto;
    gap: $space-lg;
    .leftSection {
      margin-left: $space-md;
      width: 20%;
      display: flex;
      align-items: flex-start;
    }
    .contentSection {
      width: 80%;
    }
  }
}
