@import '~styles/theme.scss';
@import '~styles/mixins.scss';

.postContainer {
  display: flex;
  flex-direction: column;
  gap: $space-md;
  .contentSection {
    display: flex;
    flex-direction: column;
    gap: $space-md;
  }
  .leftSection {
    display: none;
  }
}

@include media-query($min-width: $breakpoint-lg) {
  .postContainer {
    flex-direction: row;
    max-width: $breakpoint-lg;
    margin: 0 auto;
    gap: $space-lg;
    .leftSection {
      width: calc(0.35 * $breakpoint-lg);
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
    }
    .contentSection {
      width: 65%;
      margin-left: calc((0.35 * $breakpoint-lg) + $space-lg);
    }
  }
}
